.yoy{display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "er eb io op";}
  .g{
    grid-area: er;
    float:center;
    

  }
  .er{
    grid-area: eb;
    float:center;
   
  }
  .io{
    grid-area: io;
    float:center;
    

  }
  .c{
    grid-area: op;
    float:center;
    
  }

.jkf{display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "a a a a"    
    "c b b d"
    "f f f f"
    "e i y o";
  }
  .uy1{
    grid-area: a;
    background: linear-gradient(lightcoral,red);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkolivegreen; 
  }

  .uy2{
    grid-area: b;
    background: linear-gradient(goldenrod,crimson);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgrey; 
  }
  .uy3{
    grid-area: c;
    background: linear-gradient(goldenrod,crimson);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgrey; 
  }
  .uy4{
    grid-area: d;
    background: linear-gradient(goldenrod,crimson);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgrey; 
  }

  .uy5{
    grid-area: f;
    background:linear-gradient(crimson,black);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgrey; 
  }

  .uy6{
    grid-area: e;
    background:linear-gradient(orangered,crimson);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgrey; 
  }
  .uy7{
    grid-area: i;
    background:linear-gradient(orangered,crimson);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgrey; 
  }
  .uy8{
    grid-area: y;
    background:linear-gradient(orangered,crimson);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgrey; 
  }
  .uy9{
    grid-area: o;
    background:linear-gradient(orangered,crimson);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow; 
  }

  .lol{float:center;
    width: 600px;
    height:400px ;}
    

  @media (max-width:43em){

    .jkf{display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "i y"
      "a a"
      "c b"
      "d b"
      "e o"
      "f f";
    }

    .lol{float:center;
      width: 300px;
      height:260px;}
      .yoy{display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas:
        "er op" 
        "eb io"
        ;}
  
  }  

  /* Mobile */
@media (max-width:18.75em){

  .jkf{display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "f"
    "e"
    "i"    
    "y"
    "o";
  }
  .yoy{display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas:
    "er" 
    "eb"
    "io"
    "op";}

}







