.gg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 960px;
    margin: 0 auto;

}
/*
.gg{ 
    display: grid;  
    grid-template-columns:1fr;
    margin:1em;
    width: 960px;
    margin: 0 auto;
    grid-template-areas:
    "ye"
    "ju"
    "pt"
    }
    */
.h{grid-area:ju;
 text-align: left;
    margin: 3em}
 .hx{grid-area:ye;
  text-align: right;}
  .hj{grid-area:pt;
  text-align: right;}

    .blu{
    background: mediumblue; 
    padding:30px}
.textw{ color: lightyellow}
.coos{position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    border: 3px}
.hgj{right: 3;
width: 50px;
border: 3px}
.kgf{position: fixed;
bottom: 500;
right: 0;
width: 300px;
border: 3px;}
/**
body{
    background: blue;
}
**/
.midja{
    height:300px;
    background-color:goldenrod;
background: linear-gradient(goldenrod,crimson)}

body{background-color: crimson;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: background-color 2s ease-in-out;
    margin-left: auto;
    margin-right: auto;}
    @keyframes example {
         from {background-color:crimson}
          to {background-color: goldenrod}

         
       
        
    }
    .jk{ display: grid;  
        grid-template-columns:1fr;
        margin: 0 auto;
        grid-area:
        "kl"
       /** "  pe      "
        "    se    "
        "      qe  "**/
    }

 .kl{grid-area:kl;
        text-align: center;}
        /**.kl1{grid-area:pe;
            text-align: center;}
            .kl2{grid-area:se;
                text-align: center;}
                .kl{grid-area:qe;
                    text-align: center;}**/
blockquote{ 
    background: rgba(238, 233, 233, 0.5)

}

.if{ display: grid;
    margin: auto;  
    grid-template-columns:1fr 1fr 1fr;
    width: 960px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}
/*
"rt ty fg"}
    .fg{grid-area:fg;
        text-align:center;}
        .ty{grid-area:rt;
            text-align: center;}
            .rt{grid-area:ty;
                text-align: center;}
*/