.start{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 960px;
    margin: 0 auto;
}
.hedt{display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "h"
    "nav1";
 background-color: aqua
}
.gn{grid-area:nav1;
 text-align: center;}
.hg{grid-area: h;
text-align: left;
}
.bodycolor{
    background-color: black;
    color: white;
}
/*.bigbox{display: inline;
    padding: 3em;
    margin: 3em;
    border:3px dashed blue }*/
.group {
    clear: both;
    *zoom: 1;
}

.brb{ 
   border: 1px solid white;
   padding: 50px;
   width: auto; 
  /* background-color: aqua    */
   }

.brb2{ 
   border: 1px solid white;
   padding: 5px;
   width: auto;     
   }

.tester{display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "b1"
    "b2"
    "b3"
    /*"b4"*/;
    border: 5px solid whitesmoke;
       margin: 5em; 
    }
    .mg1{grid-area: b1;
    }
    .mg2{grid-area: b2;
    /*width: 85%;*/
}
    .mg3{grid-area: b3;
    }
    .mg4{grid-area: b4;
    }

.tester2{display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-areas: 
        "r m m l"
        /*"b4"*/
        ;background: linear-gradient(yellow,darkgreen)
    }
        .extrag1{grid-area: r;
            text-align: right;
            /*background-color: blueviolet*/
        }
        .extrag2{grid-area: m;
            text-align: center;
            /*background-color: darkgoldenrod*/
        }
        .extrag3{grid-area: l;
            text-align: left;
            /*background-color: yellow*/
        }
.if{ display: grid;
            margin: auto;  
            grid-template-columns:1fr 1fr 1fr;
            width: 960px;
            margin: 0 auto;}